.git
.github
.DS_Store
README.md
LICENSE
backups
data

server-files/zulu-21
server-files/world
server-files/world_nether
server-files/world_the_end
server-files/logs
server-files/crash-reports
server-files/backups
server-files/eula.txt
server-files/server.properties
server-files/usercache.json
server-files/ops.json
server-files/whitelist.json
server-files/banned-players.json
server-files/banned-ips.json
server-files/*.log

